@import "./color_schemes/dark";

$color-scheme: lethal-dark;

$body-background-color: rgb(33, 34, 33);
$body-text-color: #f8efe1;
$link-color: rgb(107, 183, 105);
$sidebar-color: rgb(43, 44, 43);

a
{
    text-decoration-style: dotted !important;
}
